.loader {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, .4);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
}


.container {
    height: 50vh;
    width: 250px;
    margin: 30px;
    border: 1px solid black;
    padding: 5px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}


.card {
    width: 100%;
    border: 1px solid blue;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}


.card > span {
    margin-bottom: 7px;
}



.name {
    font-size: 20px;
    font-weight: bold;
}


.age {
    color:gray;
    font-size: 14px;
}

.location {
    font-style: italic;
    margin-bottom: 0;
}